---
  permalink: "/config.yml"
---

{% macro standardComponents() %}
        - label: "Body Text Component"
          name: "bodyText"
          widget: "object"
          hint: "<!-- comments can be added like this -->"
          fields:
            - label: "Content"
              name: "content"
              widget: "markdown"
              buttons: ["bold", "italic", "code", "link", "heading-two", "heading-three", "heading-four", "quote", "bulleted-list", "numbered-list"]
        - label: "Video"
          name: "video"
          widget: "object"
          fields:
            - label: "URL"
              name: "source"
              widget: "string"
            - label: "Audio Description URL"
              name: "audioDescription"
              widget: "string"
{% endmacro %}

backend:
  name: {% if envs.runMode == "serve" %}test-repo{% else %}github{% endif %}
  repo: i-dot-ai/ai-gov-uk-cms-content
  use_graphql: true
  squash_merges: true
publish_mode: editorial_workflow
media_folder: "static/images/uploads" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images/uploads" # The src attribute for uploaded media will begin with /images/uploads
logo_url: https://ai.gov.uk/img/i-dot-ai-Official-Logo.svg 
collections:
  
  - label: "Authors"
    name: "authors"
    folder: "content/authors"
    create: true
    slug: "{{name}}"
    fields:
      - label: "Name"
        name: "name"
        widget: "string"
      - label: "Job Title"
        name: "jobTitle"
        widget: "string"
      - label: "Picture"
        name: "picture"
        widget: "image"
        required: false
  
  - label: "Blogs"
    name: "blogs"
    folder: "content/blogs"
    create: true
    slug: "{{title}}"
    fields: 
      - label: "Title"
        name: "title"
        widget: "string"
      - label: "Technical blog"
        name: "technicalBlog"
        widget: "boolean"
      - label: "Date"
        name: "date"
        widget: "datetime"
        date_format: "YYYY-MM-DD"
        default: "{{now}}"
      - label: "Summary (hub page)"
        name: "summaryHubPage"
        widget: "string"
        pattern: ['^.{1,256}$', "Required. 256 characters max"]
        hint: "A one sentence summary of the blog post (to be shown on the main hub page) - 256 characters max"
      - label: "Summary (blog page)"
        name: "summaryBlogPage"
        widget: "text"
        required: false
        hint: "Opening paragraph of blog (can be same as above summary or slightly longer)"
      - label: "Lead Image"
        name: "leadImage"
        widget: "image"
        allow_multiple: false
      - label: "Lead Image Alt Text"
        name: "leadImageAlt"
        widget: "string"
      - label: "Lead Image Caption"
        name: "leadImageCaption"
        widget: "string"
        required: false
      - label: "Authors"
        name: "authors"
        widget: "list"
        fields:
          - label: "Author"
            name: "author"
            widget: "relation"
            collection: "authors"
            value_field: "name"
            search_fields: ["name", "job-title"]
            display_fields: ["name", "job-title"]
      - label: "Components"
        name: "components"
        widget: "list"
        types:
        {{ standardComponents() }}
        - label: "Infographic"
          name: "infographic"
          widget: "object"
          fields:
            - label: "Type"
              name: "infographicType"
              widget: "select"
              options: ["First 12 months"]
              default: "First 12 months"
        - label: "Carousel"
          name: "carousel"
          widget: "object"
          fields:
            - label: "Carousel title"
              name: "carouselTitle"
              widget: "string"
            - label: "Items"
              name: "carouselItems"
              widget: "list"
              fields:
                - label: "Content"
                  name: "carouselContent"
                  widget: "markdown"
                  hint: "Only the last item is shown in preview (for now)"
  
  - label: "FAQs"
    name: "faqs"
    folder: "content/faqs"
    create: false
    fields:
      - label: "Title"
        name: "title"
        widget: "string"
        default: "FAQs"
      - label: "Headings"
        name: "headings"
        widget: "list"
        fields:
          - label: "Heading"
            name: "heading"
            widget: "string"
          - label: "Questions"
            name: "questions"
            widget: "list"
            fields:
              - label: "Question text"
                name: "questionText"
                widget: "string"
              - label: "Response"
                name: "response"
                widget: "markdown"
                buttons: ["bold", "link", "bulleted-list", "numbered-list"]

  - label: "Projects"
    name: "projects"
    folder: "content/projects"
    create: true
    slug: "{{title}}"
    fields: 
      - label: "Title"
        name: "title"
        widget: "string"
      - label: "Phase"
        name: "phase"
        widget: "select"
        options: ["Paused", "Incubation", "Alpha", "Beta", "Scaling", "N/A"]
        default: "Incubation"
      - label: "Summary (hub page)"
        name: "summaryHubPage"
        widget: "string"
        pattern: ['^.{1,256}$', "Required. 256 characters max"]
        hint: "A one sentence summary (to be shown on the main hub page) - 256 characters max"
      - label: "Summary (project page)"
        name: "summaryProjectPage"
        widget: "text"
        hint: "A summary to be shown in the header (can be same as above summary or slightly longer)"
      - label: "Lead Image"
        name: "leadImage"
        widget: "image"
        allow_multiple: false
        hint: "For hub page and social media (not shown on actual page)"
      - label: "Components"
        name: "components"
        widget: "list"
        types:
        {{ standardComponents() }}
        - label: "Double-column"
          name: "doubleColumn"
          widget: "object"
          fields:
            - label: "Content"
              name: "content"
              widget: "markdown"
              buttons: ["bold", "italic", "code", "link", "heading-two", "heading-three", "heading-four", "quote", "bulleted-list", "numbered-list"]
              editor_components: ["code-block", "comment"]
            - label: "Image"
              name: "image"
              widget: "image"
              allow_multiple: false
              choose_url: false
            - label: "Image alt text"
              name: "imageAlt"
              widget: "text"
              required: false
            - label: "Order"
              name: "order"
              widget: "select"
              options: ["Text (left) - Image (right)", "Image (left) - Text (right)"]
              default: "Text (left) - Image (right)"

  - label: "Jobs"
    name: "jobs"
    folder: "content/jobs"
    create: true
    slug: "{{title}}"
    fields: 
      - label: "Title"
        name: "title"
        widget: "string"
      - label: "Grade"
        name: "grade"
        widget: "string"
        required: false
      - label: "Salary"
        name: "salary"
        widget: "string"
        required: false
      - label: "Location"
        name: "location"
        widget: "string"
        required: false
      - label: "Link"
        name: "link"
        widget: "string"
        hint: "Link to the Civil Service Jobs page"
      - label: "Headline"
        name: "headline"
        widget: "text"
        required: false
        pattern: ['^.{0,1000}$', "1000 characters max"]