<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Content Manager</title>
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@3.9.0/dist/decap-cms.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"
      integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>

      const convertDate = (dateStr) => {
          const months = [
              "January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"
          ];
          const suffixes = ["th", "st", "nd", "rd"];
          function getDaySuffix(day) {
              if (day > 3 && day < 21) return "th"; // Covers 11th, 12th, 13th
              switch (day % 10) {
                  case 1: return suffixes[1];
                  case 2: return suffixes[2];
                  case 3: return suffixes[3];
                  default: return suffixes[0];
              }
          }
          const [year, month, day] = dateStr.split('-');
          if (!year || !month || !day) {
              return "";
          }
          const dayNumber = parseInt(day, 10);
          const monthName = months[parseInt(month, 10) - 1];
          const daySuffix = getDaySuffix(dayNumber);
          return `${dayNumber}${daySuffix} ${monthName} ${year}`;
      };


      const getImage = async (imageIndex) => {

        const convertBlobToBase64 = (blob) => {
          return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onloadend = () => resolve(reader.result);
            reader.onerror = reject;
            reader.readAsDataURL(blob);
          });
        };

        const allImages = document.querySelectorAll('img[role="presentation"]');
        if (allImages.length < imageIndex + 1) {
          return "";
        }
        const img = allImages[imageIndex];
        const response = await fetch(img.src);
        const blob = await response.blob();
        const base64 = await convertBlobToBase64(blob);
        return base64;
      };


      let converter = new showdown.Converter({
        sanitize: false
      });
      converter.setOption('tables', true);


      const Preview = createClass({
        componentDidUpdate: async function() {
          const entry = this.props.entry;
          const data = entry.getIn(['data']).toJS();
          let imageCount = 0;
          if (data.date) {
            data.date = convertDate(data.date);
          }
          if (data.leadImage) {
            data.leadImage = await getImage(imageCount);
            if (data.leadImage) {
              imageCount++;
            }
          }
          for (let component of data.components || []) {
            if (component.type === "bodyText" || component.type === "doubleColumn") {
              component.content = converter.makeHtml( component.content?.replace(/<!--[\s\S]*?-->/g, '') );

              // convert any inline images
              const matches = component.content.match(/<img src="[^"]*"/g);
              if (matches) {
                for (const match of matches) {
                  const oldUrl = match
                    .replace('<img src="', "")
                    .replace('"', "");
                  const newUrl = await getImage(imageCount);
                  imageCount ++;
                  component.content = component.content.replace(oldUrl, newUrl);
                }
              }

            }
            if (component.type === "doubleColumn") {
              component.content = converter.makeHtml( component.content?.replace(/<!--[\s\S]*?-->/g, '') );
              component.content = component.content.replace(/"/g, "&quot;");
              component.image = await getImage(imageCount);
              if (component.image) {
                imageCount++;
              }
            }
            if (component.type === "carousel") {
              const items = component.carouselItems?.length ? component.carouselItems.map((item) => item.carouselContent) : [];
              component.carouselItems = JSON.stringify(items).replace(/"/g, '&quot;');
            }
          }

          if (data.content) {


            if (!data.components) {
              // convert any inline images
              const matches = data.content.match(/<img src="[^"]*"/g);
              if (matches) {
                for (const match of matches) {
                  const oldUrl = match
                    .replace('<img src="', "")
                    .replace('"', "");
                  const newUrl = await getImage(imageCount);
                  imageCount ++;
                  data.content = data.content.replace(oldUrl, newUrl);
                }
              }
            }
          }

        if (data.images && data.images.length > 0) {
          for (const image of data.images) {
            image.image = await getImage(imageCount);
            imageCount++;
          }
        }
        if (data.image) {
          data.image = await getImage(imageCount);
          imageCount++
        }
        if (data.secondImage) {
          data.secondImage = await getImage(imageCount);
          imageCount++;
        }

          this.iframe.contentWindow.postMessage(data, "*");
          // in case this is sent before the the preview has loaded
          this.iframe.addEventListener("load", () => {
            this.iframe.contentWindow.postMessage(data, "*")
          });

        },
        render: function() {
          let previewUrl = "";
          if (window.location.hash.includes("collections/blogs")) {
            previewUrl = "https://ai.gov.uk/blogs/preview";
          } else if (window.location.hash.includes("collections/projects")) {
            previewUrl = "https://ai.gov.uk/projects/preview";
          } else if (window.location.hash.includes("collections/evals")) {
            previewUrl = "https://ai.gov.uk/evaluations/cms-preview";
          } else if (window.location.hash.includes("collections/knowledge_hub_guidance_pages")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/how-to/how-to-use-ai-at-work/";
          } else if (window.location.hash.includes("collections/website_content/entries/home_page")) {
            previewUrl = "https://ai.gov.uk/";
          } else if (window.location.hash.includes("collections/website_content/entries/aboutUs")) {
            previewUrl = "https://ai.gov.uk/about";
          } else if (window.location.hash.includes("collections/website_content/entries/ourWork")) {
            previewUrl = "https://ai.gov.uk/";
          } else if (window.location.hash.includes("collections/website_content/entries/insights")) {
            previewUrl = "https://ai.gov.uk/insights";
          } else if (window.location.hash.includes("collections/website_content/entries/careers")) {
            previewUrl = "https://ai.gov.uk/opportunities";
          } else if (window.location.hash.includes("collections/our_work_projects")) {
            previewUrl = "https://ai.gov.uk/our-work/planning#extract";
          } else if (window.location.hash.includes("collections/knowledge_hub_site_content/entries/landing_page")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/";
          } else if (window.location.hash.includes("collections/knowledge_hub_site_content/entries/about")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/about";
          } else if (window.location.hash.includes("collections/knowledge_hub_site_content/entries/tools")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/tools";
          } else if (window.location.hash.includes("collections/knowledge_hub_site_content/entries/prompts")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/prompts";
          } else if (window.location.hash.includes("collections/knowledge_hub_site_content/entries/how_tos")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/how-to";
          } else if (window.location.hash.includes("collections/knowledge_hub_site_content/entries/coo_registry")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/directory";
          } else if (window.location.hash.includes("/collections/knowledge_hub_prompts") || window.location.hash.includes("/collections/knowledge_hub_internal_prompts")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/prompts/explain-a-complex-topic-for-a-beginner";
          } else if (window.location.hash.includes("/collections/knowledge_hub_tools")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/tools/mia";
          } else if (window.location.hash.includes("/collections/knowledge_hub_internal_tools")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/tools/a-cubed-dwp-ask";
          } else if (window.location.hash.includes("/collections/knowledge_hub_capabilities")) {
            previewUrl = "https://ai.gov.uk/knowledge-hub/capability/create-and-review-documents";
          }
          return h('div', {},
            h('iframe', {
              src: previewUrl,
              ref: (iframe) => { this.iframe = iframe; }
            })
          );
        }
      });

      CMS.registerPreviewTemplate("blogs", Preview);
      CMS.registerPreviewTemplate("projects", Preview);
      CMS.registerPreviewTemplate("knowledge_hub_guidance_pages", Preview);
      CMS.registerPreviewTemplate("home_page", Preview);
      CMS.registerPreviewTemplate("aboutUs", Preview);
      CMS.registerPreviewTemplate("ourWork", Preview);
      CMS.registerPreviewTemplate("insights", Preview);
      CMS.registerPreviewTemplate("careers", Preview);
      CMS.registerPreviewTemplate("our_work_projects", Preview);
      CMS.registerPreviewTemplate("landing_page", Preview);
      CMS.registerPreviewTemplate("about", Preview);
      CMS.registerPreviewTemplate("tools", Preview);
      CMS.registerPreviewTemplate("prompts", Preview);
      CMS.registerPreviewTemplate("how_tos", Preview);
      CMS.registerPreviewTemplate("coo_registry", Preview);
      CMS.registerPreviewTemplate("knowledge_hub_prompts", Preview);
      CMS.registerPreviewTemplate("knowledge_hub_internal_prompts", Preview);
      CMS.registerPreviewTemplate("knowledge_hub_tools", Preview);
      CMS.registerPreviewTemplate("knowledge_hub_internal_tools", Preview);
      CMS.registerPreviewTemplate("knowledge_hub_capabilities", Preview);
      CMS.registerPreviewStyle(`
        iframe {
          width: 100%;
          height: calc(100vh - 1rem);
        }
      `, { raw: true });

      {% if envs.buildHook %}
        CMS.registerEventListener({
          name: "prePublish",
          handler: () => {
            // Trigger Netlify build hook
            fetch("{{ envs.buildHook }}", {
              method: "POST"
            });
          }
        });
      {% endif %}

      // Set timestamps
      CMS.registerEventListener({
        name: "preSave",
        handler: ({ entry }) => {
          if( !entry.get("data").get("created") ) {
            return entry.get("data").set("created", Date.now().toString())
          }
        }
      });
      CMS.registerEventListener({
        name: "preSave",
        handler: ({ entry }) => {
          return entry.get("data").set("updated", Date.now().toString())
        }
      });

    </script>

    <script src="/components/pr-diff-link.js"></script>
    {# Old comments #}
    <script src="/components/comments.js"></script>
    {# <script src="/components/video.js"></script> #}
   

    {# New comments
    {% include "./components/comments.njk" %} #}
   

  </body>
</html>
